<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P02OperacjeCRUD.Properties.Settings.A_ZawodnicyConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=A_Zawodnicy;Integrated Security=True;Encrypt=True"
            providerName="System.Data.SqlClient" />
        <add name="P02OperacjeCRUD.Properties.Settings.A_ZawodnicyConnectionString1"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=A_Zawodnicy;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>